<div class='sidebar'>
    <div class='menu'>
        <li class='item' id="system">
            <a href="#system" class='btn'>System Admin</a>
            <div class='smenu'>
                <a href="#">Users</a>
                <a href="#">Roles</a>
                <a href="#">User Role</a>
                <a href="#">Permissions</a>
                <a href="#">Role Permission</a>
            </div>
        </li>
        <li class='item' id="company">
            <a href="#company" class='btn'>Company</a>
            <div class='smenu'>
                <a href="#">Posted Jobs</a>
                <a href="#">Match Candidates</a>
            </div>
        </li>
        <li class='item' id="post">
            <a href="#post" class='btn'>Posted Jobs</a>
            <div class='smenu'>
                <a href="#">Users</a>
                <a href="#">Roles</a>
                <a href="#">User Role</a>
                <a href="#">Permissions</a>
                <a href="#">Role Permission</a>
            </div>
        </li>
        <li class='item'>
            <a href="#" class='btn'>Log Out</a>
            
        </li>
    </div>
</div>